# Site Settings
locale                   : "en-US"
title                    : "Diyuan Lu / Researcher Profile"
title_separator          : "-"
name                     : &name "Diyuan Lu"
description              : &description "Researcher focused on machine learning applications in healthcare and precision medicine."
url                      : https://diyuanlu.github.io # Update if using a custom domain
baseurl                  : ""
repository               : "academicpages/academicpages.github.io"
teaser                   :
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : true

# Comments Settings
comments:
  provider               :

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Social Sharing
twitter:
  username               : "replacethistwitterhandle"
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 :

# Social Profiles
social:
  type                   : "Person"
  name                   : "Diyuan Lu"
  links: 
    - "diyuan-lu-198567143"
    - "DiyuanLu"
    - "Diyuan-Lu"
    - "0000-0002-9525-4251" # Update ORCID URL if available

# Analytics
analytics:
  provider               :  "google-universal"
  google:
    tracking_id          : "YOUR_GOOGLE_ANALYTICS_ID" # Replace with your tracking ID if available

# Site Author
author:
  name             : "Diyuan Lu"
  avatar           : "1570094812610.jpeg"
  bio              : "Postdoctoral researcher at Helmholtz Center Munich, specializing in ML applications in healthcare and precision medicine."
  location         : "Munich, Germany"
  employer         : "Helmholtz Center Munich"
  pubmed           : "https://www.ncbi.nlm.nih.gov/pubmed/?term=diyuan+lu"
  googlescholar    : "https://scholar.google.com/citations?user=sjZozkwAAAAJ&hl=de" # Update with your Google Scholar URLhttps://scholar.google.de/citations?user=sjZozkwAAAAJ&hl=de
  email            : "diyuan.lu@helmholtz-munich.de"
  researchgate     : "profile/Diyuan-Lu"
  linkedin         : "diyuan-lu-198567143"
  orcid            : "0000-0002-9525-4251"
  github           : "DiyuanLu"
  twitter          : "replacethistwitterhandle"

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: Europe/Berlin
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
compress_html:
  clippings: all
  ignore:
    envs: development
